*, 
:root,
html,
body, 
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    max-width: 1200px;
    overflow-x: hidden;
    margin: auto;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}