.container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
    justify-content: center;
    height: 250px;
}

.item{
    /* width: 100px;*/
    height: 100px;  
    background-color: brown;
    color: white;
    border: 1px solid black;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px; */
    flex: 1 1 auto;
}

.solito{
    align-self: flex-end;
    order: 1;
}